  <section>
    <label class="primer-ng-name-title">Tittle:</label>
    <label class="primer-ng-description-title">{{title}}</label>
  </section>
  <section>
    <label>{{content}}</label>
  </section>
