<article class="primer-ng-detail-container">
  <span class="primer-ng-detail-item"
        routerLinkActive="primer-ng-detail-item-active"
        [routerLink]="product.id"
        *ngFor="let product of products">{{product.name}}</span>
</article>
<router-outlet></router-outlet>
